.grid {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Usa min-height invece di height per evitare problemi di overflow */
  }
  
  @media (min-width: 768px) {
    .grid {
      flex-direction: row;
    }
  }
  
  .left-panel, .right-panel {
    padding: 8px;
    box-sizing: border-box;
  }
  
  .left-panel {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #f3f4f6; /* bg-gray-100 */
    padding: 16px;
    flex: 1;
  }
  
  .right-panel {
    overflow-y: auto; /* Permette lo scroll verticale */
    background-color: #ffffff; /* bg-white */
    padding: 16px;
    flex: 1;
    max-height: 100vh; /* Assicura che il pannello non superi l'altezza della viewport */
  }
  
  @media (max-width: 767px) {
    .right-panel {
      max-height: calc(100vh - 100px); /* Regola l'altezza per evitare overflow e permettere lo scroll */
    }
  }
  
  textarea {
    width: calc(100% - 40px);
    margin-right: 8px;
  }
  
  textarea + button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
  }
  
  .fade-out {
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }
  
  .faded {
    opacity: 0.5;
  }
  
  .balloon-container .balloon span {
    word-break: break-word; /* Permette di spezzare le parole lunghe */
    overflow-wrap: break-word; /* Assicura che il testo lungo vada a capo */
  }