@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.controls {
  margin-top: 10px;
}

.drawing-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

canvas {
  border: 1px solid black;
  background-color: white;
  cursor: none; /* Nasconde il puntatore del mouse sul canvas */
}

.cursor {
  pointer-events: none;
  position: absolute;
  border-radius: 50%;
  border: 4px solid rgba(255, 0, 0, 1);
  background-color: rgba(255, 0, 0, 1);
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
